<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">

    <contextName>com-sanjiang-invoice</contextName>

    <property name="projectName" value="com-sanjiang-invoice"/>
    <property name="logging.path" value="/${HOME}/sanjiang/logs/${projectName}/${projectName}.log"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="socketAppender" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>prod9.sjes.sanjiang.info:4560</destination><!-- 远程主机地址 -->

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

        </encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <!--<appender-ref ref="socketAppender"/>-->
    </root>

    <logger name="com.example.logback" level="warn"/>

</configuration>
