<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>小票和发票详情</title>
<link rel="shortcut icon" href="/logo.png"><link href="/assets/css/e-Invoice/details.css?f9753522164642ff6f19" rel="stylesheet"></head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/assets/js/vendors.js?f9753522164642ff6f19"></script><script type="text/javascript" src="/assets/js/e-Invoice/details.js?f9753522164642ff6f19"></script></body>
</html>
