<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>输入小票信息</title>
    <link rel="shortcut icon" href="/logo.png"><link href="/assets/css/e-Invoice/index.css?754c02883b27c2788f29" rel="stylesheet"></head>
<body>
<!--[if lt IE 10]>
<div class="update_tips">
  <span>你的浏览器版本太low了,已经和时代脱轨了！为了保障您的安全，享受更棒的开票体验，建议您使用新版本
      <a href="https://www.google.cn/chrome/?hl=zh-CN&standalone=1" target="_blank">谷歌浏览器</a>、
      <a href="https://www.mozilla.org/zh-CN/firefox/new/" target="_blank">火狐浏览器</a>、
    <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">IE浏览器</a>或
    <a href="http://www.uc.cn/ucbrowser/download/?spm=875.7789098.a2226mw.4.wlRCsQ" target="_blank">UC浏览器</a>
  </span>
</div>
<![endif]-->
<div id="app"></div>
<script type="text/javascript" src="/assets/js/vendors.js?754c02883b27c2788f29"></script><script type="text/javascript" src="/assets/js/e-Invoice/index.js?754c02883b27c2788f29"></script></body>
</html>